.large-peg {
    display:inline-block;
    width:40px;
    height:40px;
    line-height:40px;
    border: 2px solid #000000;
    border-radius: 50%;
    color:#ffffff;
    text-align:center;
    text-decoration:none;
    background: #ffffff;
    margin: 3px 3px 3px 3px;
}
#palette {
    display:inline-block;
}
#game-container {
    display:inline-block;
}
.palette-selector {
    display:block;
    width:30px;
    height:30px;
    line-height:30px;
    border: 2px solid #000000;
    border-radius: 50%;
    color:#ffffff;
    text-align:center;
    text-decoration:none;
    background: #ffffff;
    margin: 3px 3px 3px 3px;
}

.check-peg {
    display: inline-block;
    width:10px;
    height:10px;
    line-height:10px;
    border: 2px solid #000000;
    border-radius: 50%;
    color:#ffffff;
    text-align:center;
    text-decoration:none;
    background: #ffffff;
    margin: 2px 2px 2px 2px;
    visibility: hidden;
}

.check-button {
    display: inline-block;
    visibility: hidden;
}
.check-button img {
    width: 30px;
    height: 30px;
    margin: 3px 3px 3px 3px;
}
.check-region {
    display:inline-block;
}
#solution {
    visibility: hidden;
}
